<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>New Party</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">
	<link href="css/mybirthday.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<script src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/birthdayapp.js"></script>
	
  </head>

  <body data-ng-app="birthdayApp">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="img/logo.png"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="index.html">Dashboard</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Profile</a></li>
            <li><a href="#">Help</a></li>
			<li><a href="#">Log out</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Presents</a></li>
            <li><a href="#">Parties</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h1 class="page-header"><span class="glyphicon glyphicon-plus"></span>New party</h1>
			<div id="content" ng-controller="userCtrl as userCtrl">
				<div class="row">
					<form class="form-horizontal col-sm-12 col-md-6" ng-submit="userCtrl.saveParty(newParty);">
						<div class="form-group">
							<label for="userBirthdayPartyDate" class="col-sm-2 control-label">Date:</label>
							<div class="col-sm-10">
								<input type="date" class="form-control" id="userBirthdayPartyDate" ng-model="newParty.date" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userBirthdayPartyLocation" class="col-sm-2 control-label">Location:</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="userBirthdayPartyLocation" ng-model="newParty.location" required>
							</div>
						</div>
						<div class="form-group">
							<label for="userBirthdayPartyManager" class="col-sm-2 control-label">Manager:</label>
							<div class="col-sm-10">
								<select class="form-control" id="userBirthdayPartyManager" ng-model="newParty.manager" required>
									<option value="{{friend}}" data-ng-repeat="friend in friends">{{friend.firstName}} {{friend.lastName}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="userBirthdayPartyInvited" class="col-sm-2 control-label">Invited:</label>
							<div class="col-sm-10">
								<select multiple class="form-control" id="userBirthdayPartyInvited" ng-model="newParty.invited" required>
									<option value="{{friend}}" data-ng-repeat="friend in friends">{{friend.firstName}} {{friend.lastName}}</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<button type="submit" name="createParty" class="btn btn-default">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
